<div class='media pad1'>
  <div class='media-left pad1r'>
    <i class='icon icon-briefcase fill-orange dark pad1 round'></i>
  </div>
  <div class='media-body'>
    <h4>Orders</h4>
    <small class='strong quiet'>4 results</small>
  </div>
</div>