<div class='pad1 keyline-top contain clearfix'>
  <div class='pad0x'>
    <h4>CT-3103445</h4>
    <ul class='small quiet'>
      <li class='pull-left'>
        Robert Half International
      </li>
      <li class='pull-right'>
        $50,000
      </li>
      <li class='pull-left'>
        Lovetta Patterson
      </li>
      <li class='pull-right'>
        Jan 2014
      </li>                      
    </ul>
  </div>
</div>
