<div class='primary small row2'>
  <div id='search' class='pad0'>
    <fieldset class='with-icon search contain'>
      <i class='icon icon-search'></i>
      <input class='short typeahead' type='text' placeholder='Search Axiom'>
      <div class='pin-right pad1x'><span class='spinner hidden'></span></div>
    </fieldset>
  </div>
</div>