<form id='search' class='clearfix'>
  <fieldset class='contain col-sm-6'>
    <label for='character'>Who is your favorite cartoon character?</label>
    <input id='character' type='text' class='stretch typeahead' />
  </fieldset>
</form>