<div class='media pad1'>
  <div class='media-left pad1r'>
    <i class='icon icon-folder-open fill-purple dark pad1 round'></i>
  </div>
  <div class='media-body'>
    <h4>Accounts</h4>
    <small class='strong quiet'>6 results</small>
  </div>
</div>