<div class='media space-bottom0'>
  <a class='media-left pad1r' href='{{url}}'>
    <img src='{{image_url}}' class='img-rounded' width='50'>
  </a>
  <div class='media-body'>
    <h4>{{name}}</h4>
    <p>{{show}}</p>
  </div>
</div>