#search { 
  position: absolute; 
  left: 80px; 
  z-index: 1;

  .icon-search { left: 12px; }
  .tt-suggestion { padding: 0; }  

  input[type=text] { 
    border-radius: 15px; 
    background: #f8f8f8;
    width: 275px;
    transition: all .125s;
    &:focus { background: #fff; }
  }
}

#popup-search { 
  top: 50px;
  left: 5px;
  text-align: left;
  bottom: initial;
  border: none;
  width: 275px;
}