<a href='#fakelink' class='btn btn-default' data-toggle='modal' data-target='#modal'>
  Impersonate user
</a>

<div id='modal' class='animate modal'>
  <div class='modal-dialog'>
    <%= form_tag search_characters_path, 
                 method: :get, id: 'characters_search', 
                 class: 'container-fluid' do %>
      <div class='col-sm-8 col-xs-12 fill-white modal-content contain'>
        <a href='#fakelink' class='quiet pin-right close' data-dismiss='modal'>
          <i class='icon icon-remove'></i>
        </a>
        <div class='pad2y pad4x center'>
          <h3>Who would you like to impersonate?</h3>
        </div>
        <div class='space-bottom2 pad4x infinite-scroll scroll'>
          <fieldset class='space-bottom1 contain col-sm-12'>
            <%= text_field_tag :q, params[:q], class: 'stretch search' %>
          </fieldset>
          <div id='characters' class='row12'>
          </div>
          <p class="pagination">
            <%= link_to_next_page(@characters, 
                                  'Next Page', 
                                  remote: true, 
                                  class: 'hidden') if defined?(@characters) %>
          </p>
        </div>
        <div class='fill-gray pad2y pad4x clearfix row4 modal-actions'>
          <ul class='pull-right'>
            <li class='inline'>
              <a href='#fakelink' class='btn btn-default pull-right' data-dismiss='modal'>Cancel</a>
            </li>
            <li class='inline'>
              <a href='#fakelink' class='btn btn-primary ladda-button pull-right disabled' data-style='slide-left'>
                <span class='ladda-label'>Impersonate</span>
                <span class='ladda-spinner'></span>
              </a>
            </li>
          </ul>
        </div>
      </div>        
    <% end %>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(function () {
      window.characterSearch = new CharacterSearch();
    });
  </script>
<% end %>
