<!DOCTYPE html>
<html>
<head>
  <title>TwitterTypeahead</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>  
</head>
<body class='fill-blue pad4'>
  <div class='container-fluid clearfix'>
    <div class='fill-white pad4 round col-sm-10 col-sm-offset-1'>
      <%= yield %>
    </div>
  </div>
</body>
</html>
